<h1>Pizza bearbeiten: <%= @pizza.name %> (<%= @pizzeria.name %>)</h1>

<%= form_for @pizza, url: admin_pizzeria_pizza_path(@pizzeria, @pizza), :html => {:class => 'form-horizontal'} do |t| %>

<%= render 'form', t: t %>

<p class="form-actions">
  <input type="submit" value="Speichern" class="btn btn-primary">
  <a href="<%= admin_pizzeria_path(@pizzeria) %>" class="btn">Abbrechen</a>
</p>

<% end %>
