<h1><%= @user.display_name %></h1>

<div class="row-fluid">
  <% unless current_user.avatar.blank? %><div class="well pull-left">
    <%= image_tag current_user.avatar.url('medium') %>
  </div><% end %>

  <div class="span9">
    <p><%= t("views.saldo") %>: <span id="account-sum"><%= sprintf("%.2f", @account.sum.to_f) %></span> CHF</p>
  </div>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t("views.product") %></th>
      <th><%= t("views.price_int") %></th>
      <th><%= t("views.price_ext") %></th>
      <th><%= t("views.bought") %></th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    <tr data-product-id="<%= product.product_id %>">
      <td><%= link_to product.name, bookings_path(user_id: @user.user_id, product: product.product_id), :class => 'book' %></td>
      <td class="price-int" data-price="<%= product.price_int %>"><%= product.price_int %></td>
      <td class="price-ext" data-price="<%= product.price_ext %>"><%= product.price_ext %></td>
      <td class="count"><%= product.cnt %></td>
      <td><%= link_to bookings_path(user_id: @user.user_id, product_id: product.product_id), :class => 'book' do %><i class="icon-plus"> </i><% end %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p class="form-actions">
  <a href="<%= logout_path %>" class="btn btn-primary"><%= t("views.finished") %></a>
</p>

<script>
var user = <%== @user.to_json %>;

$(".book").click(function(ev) {
  ev.preventDefault();

  var $tr = $(this).closest("tr");
  var product_id = $tr.attr('data-product-id');

  $.post(
    baseUrl + '/bookings',
    'product_id=' + encodeURIComponent(product_id) + "&user_id=" + encodeURIComponent(user.user_id),
    function() {
      $tr.find("td").effect("highlight", {}, 1500);

      var cnt = $tr.find(".count");
      cnt.text(cnt.text() * 1 + 1);
      var price = $tr.find(user.is_member ? ".price-int" : ".price-ext").attr("data-price") * 1

      $("#account-sum").text($("#account-sum").text() * 1 - price);
    }
  )
})
</script>
