<% @product.errors.full_messages.each do |msg| %>
<div class="alert alert-error"><%= msg %></div>
<% end %>

<div class="control-group">
  <%= t.label :name, t("views.name"), :class => 'control-label' %>
  <div class="controls"><%= t.text_field :name %></div>
</div>

<div class="control-group">
  <%= t.label :price_int, t("views.price_int"), :class => 'control-label' %>
  <div class="controls"><%= t.text_field :price_int %></div>
</div>

<div class="control-group">
  <%= t.label :price_ext, t("views.price_ext"), :class => 'control-label' %>
  <div class="controls"><%= t.text_field :price_ext %></div>
</div>

<div class="control-group">
  <%= t.label :deposit, t("views.deposit"), :class => 'control-label' %>
  <div class="controls"><%= t.text_field :deposit %></div>
</div>
