<h1>Produkte</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t("views.product") %></th>
      <th><%= t("views.price_chf") %></th>
      <th><%= t("views.price_eur") %></th>
      <th><%= t("views.created") %></th>
      <th><%= t("views.edited") %></th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
  <% @products.each do |p| %>
    <tr>
      <td><%= link_to p.name, admin_product_path(p) %></td>
      <td><%= p.price_chf %> CHF</td>
      <td><%= p.price_eur %> EUR</td>
      <td><%= l(p.created_at, format: "%d. %B %Y %H:%M") %></td>
      <td><%= l(p.updated_at, format: "%d. %B %Y %H:%M") %></td>
      <td>
        <%= link_to edit_admin_product_path(p) do %><i class="icon icon-edit"> </i><% end %>
        <%= link_to admin_product_path(p), :data => { confirm: t("views.are_you_sure") }, :method => :delete do %><i class="icon-trash"> </i><% end %>
      </td>
    </tr>
  <% end %>
  </tbody>

</table>
