<h1>Produkte</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Produkt</th>
      <th>Preis CHF</th>
      <th>Preis EUR</th>
      <th>Erstellt</th>
      <th>Geändert</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
  <% @products.each do |p| %>
    <tr>
      <td><%= link_to p.name, admin_product_path(p) %></td>
      <td><%= p.price_chf %> CHF</td>
      <td><%= p.price_eur %> EUR</td>
      <td><%= l(p.created_at, format: "%d. %B %Y %H:%M") %></td>
      <td><%= l(p.updated_at, format: "%d. %B %Y %H:%M") %></td>
      <td>
        <%= link_to edit_admin_product_path(p) do %><i class="icon icon-edit"> </i><% end %>
        <%= link_to admin_product_path(p), :data => { confirm: 'Sind Sie sicher?' }, :method => :delete do %><i class="icon-trash"> </i><% end %>
      </td>
    </tr>
  <% end %>
  </tbody>

</table>
