<h1><%= t("views.new_product") %></h1>

<%= form_for @product, url: admin_products_path, html: {:class => 'form-horizontal'} do |t| %>

<%= render 'form', t: t %>

<div class="form-actions">
  <input type="submit" value="<%= t("views.save") %>" class="btn btn-primary">
  <a href="<%= admin_products_url %>" class="btn"><%= t("views.cancel") %></a>
</div>

<% end %>
