<h1><%= @product.name %></h1>

<table class="table table-condensed table-striped width40">
  <tbody>
    <tr>
      <th><%= t("views.name") %></th>
      <td><%= @product.name %></td>

      <th><%= t("views.price_int") %></th>
      <td><%= @product.price_int %></td>
    </tr>

    <tr>
      <th><%= t("views.price_ext") %></th>
      <td><%= @product.price_ext %></td>

      <th><%= t("views.deposit") %></th>
      <td><%= @product.deposit %></td>
    </tr>

    <tr>
      <th><%= t("views.created") %></th>
      <td><%= l(@product.created_at, format: "%d. %B %Y %d.%m.%Y") %></td>

      <th><%= t("views.edited") %></th>
      <td colspan="3"><%= l(@product.updated_at, format: "%d. %B %Y %d.%m.%Y") %></td>
    </tr>
  </tbody>
</table>

<div class="form-actions">
  <a href="<%= edit_admin_product_path(@product) %>" class="btn"><%= t("views.edit") %></a>
  <a href="<%= admin_products_path() %>" class="btn"><%= t("views.back") %></a>
</div>
