<% @user.errors.full_messages.each do |msg| %>
<div class="alert alert-error"><%= msg %></div>
<% end %>

<fieldset>
  <div class="control-group">
    <%= t.label :username, t('views.username'), :class => 'control-label' %>
    <div class="controls"><%= t.text_field :username %></div>
  </div>

  <div class="control-group">
    <%= t.label :display_name, t("views.name"), :class => 'control-label' %>
    <div class="controls"><%= t.text_field :display_name %></div>
  </div>

  <div class="control-group">
    <%= t.label :email, t("views.email"), :class => 'control-label' %>
    <div class="controls"><%= t.text_field :email %></div>
  </div>

  <div class="control-group">
    <%= t.label :admin, t("views.administrator"), :class => 'control-label' %>
    <div class="controls"><%= t.check_box :admin %></div>
  </div>

  <div class="control-group">
    <%= t.label :is_member, t("views.member"), :class => 'control-label' %>
    <div class="controls"><%= t.check_box :is_member %></div>
  </div>

  <div class="control-group">
    <%= t.label :password, t("views.password"), :class => 'control-label' %>
    <div class="controls"><%= t.password_field :password %></div>
  </div>

  <div class="control-group">
    <%= t.label :password_confirm, t("views.password_confirm"), :class => 'control-label' %>
    <div class="controls"><%= t.password_field :password_confirmation %></div>
  </div>
</fieldset>
