<h1><%= @user.display_name %> (<%= @user.username %>)</h1>

<div class="span6">
<table class="table table-condensed table-striped">
  <tbody>
    <tr>
      <th>Name</th>
      <td><%= @user.display_name %></td>

      <th>Benutzer</th>
      <td><%= @user.username %></td>
    </tr>

    <tr>
      <th>E-Mail</th>
      <td><%= @user.email %></td>

      <th>Erstellt</th>
      <td><%= l(@user.created_at, format: "%d. %B %Y %d.%m.%Y") %></td>
    </tr>

    <tr>
      <th>Geändert</th>
      <td colspan="3"><%= l(@user.updated_at, format: "%d. %B %Y %d.%m.%Y") %></td>
    </tr>
  </tbody>
</table>
</div>


<div class="form-actions" style="clear:both">
  <a href="<%= edit_admin_user_path(@user) %>" class="btn">Bearbeiten</a>
  <a href="<%= admin_users_path() %>" class="btn">Zurück</a>
</div>
